

  <body class="text-center">
    <form class="form-signin" action="/users/create" method="POST" style="width: 330px;margin:auto;margin-top: 13vh;">
      <img class="mb-4" src="https://bootstraplogos.com/wp-content/uploads/edd/2017/11/logo-27.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <label for="name" class="sr-only">Name</label>
      <input name="name" type="text" id="name" class="form-control" placeholder="Name" required>
      <label  for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPasswordC" class="sr-only">Confirm Password</label>
      <input name="confirm_password" type="password" id="inputPasswordC" class="form-control" placeholder="Confirm Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>

  </body>

